apipkg==1.5
atlasreader==0.1.1
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.8.0
bids-validator==1.2.4
biopython==1.74
bleach==3.0.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
configparser==3.5.0
convert-eprime==0.0.1a0
cycler==0.10.0
Cython==0.29.13
decorator==4.3.0
deepdish==0.3.6
entrypoints==0.2.3
execnet==1.5.0
freetype-py==2.1.0.post1
funcsigs==1.0.2
future==0.17.1
grabbit==0.2.5
handout==1.0.0
idna==2.8
imageio==2.5.0
importlib==1.0.4
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
jedi==0.13.1
Jinja2==2.10
joblib==0.13.2
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mkl-fft==1.0.13
mkl-random==1.0.4
mkl-service==2.1.0
mne==0.16.2
mock==2.0.0
mord==0.6
more-itertools==4.3.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
neurdflib==5.0.0.post1
neurosynth==0.3.7
nibabel==2.3.1
nilearn==0.7.1
nipype==1.2.0
nistats==0.0.1b0
nltools==0.3.14
notebook==5.7.0
num2words==0.5.7
numexpr==2.6.9
numpy==1.16.4
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
patsy==0.5.1
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.1.0
pluggy==0.8.0
ply==3.11
prometheus-client==0.4.2
prompt-toolkit==2.0.7
prov==1.5.2
ptitprince==0.1.4
ptyprocess==0.6.0
py==1.7.0
pybids==0.9.1
pydot==1.2.4
pydotplus==2.0.2
Pygments==2.2.0
PyHamcrest==1.9.0
pynv==0.1.1
PyOpenGL==3.1.0
pyparsing==2.3.0
PyQt5==5.13.0
PyQt5-sip==4.19.18
pyrsistent==0.14.5
pytest==3.10.1
pytest-forked==0.2
pytest-xdist==1.24.1
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.3
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
rdflib==4.2.2
requests==2.22.0
scikit-image==0.15.0
scikit-learn==0.24.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
soupsieve==1.9.2
SQLAlchemy==1.3.5
statsmodels==0.9.0
tables==3.5.2
terminado==0.8.1
testpath==0.4.2
threadpoolctl==2.1.0
tornado==5.1.1
tqdm==4.56.0
traitlets==4.3.2
traits==4.6.0
urllib3==1.25.3
visbrain==0.4.4
vispy==0.6.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
